{% extends 'base.html' %}
{% block content %}

<div class="col-sm-10 ml-auto mr-auto ">
    <H2>Sales Details</H2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">S. No.</th>
                {% for head in context.header %}
                <th>{{head}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for val in context.data %}
            <tr>
                <td scope="row">{{loop.index}}</td>
                {% for i in val.values() %}

                <td scope="row"> {{ i }}</td>

                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}